{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}

    <h1>Example Form</h1>
    {{ render_form(example_form) }}

    <h1>render_form</h1>
    {{ render_form(form) }}

    <h1>custom buttons: button_style + button_size</h1>
    <p>{% raw %}{{ render_form(form, button_style='success', button_size='block') }}{% endraw %}</p>
    {{ render_form(form, button_style='success', button_size='block') }}

    <h1>custom buttons: button_map</h1>
    <p>{% raw %}{{ render_form(button_form, button_map={'submit': 'primary', 'cancel': 'secondary', 'delete': 'danger'}) }}{% endraw %}</p>
    {{ render_form(button_form, button_map={'submit': 'primary', 'cancel': 'secondary', 'delete': 'danger'}) }}

    <h1>render_field</h1>
    <form method="post">
    {{ form.csrf_token }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {{ render_field(form.remember) }}
    {{ render_field(form.submit) }}
    </form>

    <h1>render_form_row</h1>
    <form method="post">
    {{ form.csrf_token }}
    {{ render_form_row([form.username, form.password]) }}
    {{ render_form_row([form.username, form.password], col_map={'username': 'col-md-6', 'password': 'col-md-4'}) }}
    {{ render_form_row([form.username, form.password], col_map={'username': 'col-md-2', 'password': 'col-md-8'}) }}
    {{ render_form_row([form.username, form.password], col_class_default='col-md-2') }}
    {{ render_form_row([form.remember]) }}
    {{ render_form_row([form.submit]) }}
    </form>

    <h1>Test FormField and FormField</h1>
    <h2>Telephone Form</h2>
    {{ render_form(telephone_form) }}
    
    <h2>IM Form</h2>
    {{ render_form(im_form) }}

    <h2>Contact Form</h2>
    {{ render_form(contact_form) }}
{% endblock %}
