{% extends 'base.html' %}
{% from 'bootstrap/table.html' import render_table %}

{% block content %}
<h1>Simple Table</h1>
<p>{% raw %}{{ render_table(messages) }}{% endraw %}</p>
{{ render_table(messages) }}

<h1>Cutomized Table</h1>
<p>{% raw %}{{ render_table(messages, titles, table_classes='table-striped', header_classes='thead-dark', caption='Messages') }}{% endraw %}</p>
{{ render_table(messages, titles, table_classes='table-striped', header_classes='thead-dark', caption='Messages') }}

<h1>Responsive Table</h1>
<p>{% raw %}{{ render_table(messages, responsive=True, responsive_class='table-responsive-sm') }}{% endraw %}</p>
{{ render_table(messages, responsive=True, responsive_class='table-responsive-sm') }}

<h1>Table with actions</h1>
<p>{% raw %}{{ render_table(messages, show_actions=True,
                            view_url=url_for('view_message', message_id=':primary_key'),
                            edit_url=url_for('edit_message', message_id=':primary_key'),
                            delete_url=url_for('delete_message', message_id=':primary_key')) }}{% endraw %}</p>
{{ render_table(messages, show_actions=True,
                view_url=url_for('view_message', message_id=':primary_key'),
                edit_url=url_for('edit_message', message_id=':primary_key'),
                delete_url=url_for('delete_message', message_id=':primary_key')) }}
{% endblock %}
